/****************
****PROJECTS****
*****************/

.projects__main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 7.4rem;
  row-gap: 7.5rem;
}

.projects__img {
  max-width: 100%;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.title-icon {
  width: 3.5rem;
  height: 3.7rem;
  animation: jump 1s infinite alternate ease-in-out;
}

.img-box {
  height: 40rem;
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  background: linear-gradient(#a2b2c9, #c5aea8);
  border-radius: 0.5rem;
}

.dark-img-box {
  height: 40rem;
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  background: linear-gradient(#1f2937, #012169);
  border-radius: 0.5rem;
}

.projects__data {
  align-self: center;
}

.projects__description {
  line-height: 1.5;
}

.projects__link {
  text-decoration: none;
  color: var(--color-white);
  font-family: var(--font-family-poppins);
  font-weight: var(--font-weight-medium);
  background-color: #5368df;
  box-shadow: 0 0.4rem 0.8rem 0.2rem rgba(0, 0, 0, 0.3);
  border-radius: 0.8rem;
  padding: 1.2rem 2.4rem;
  margin-top: 2.3rem;
  margin-right: 1rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.projects__link:hover {
  transform: scale(1.1);
}

.explore-link {
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1.6rem 0;
  border-radius: 2.4rem;
  text-decoration: none;
  background-color: #ffffff;
  transition: all 0.4s;
  grid-column: 1/-1;
  width: 30rem;
  text-align: center;
  justify-self: center;
  box-shadow: 0px 6px 8px 0px #999;
}

.explore-link:hover {
  transform: scale(1.1);
}
/****************
***END PROJECTS***
*****************/
