/****************
******SKILLS******
*****************/

.skills__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

.skills__item {
  transition: var(--transition-timing);
  user-select: none;
  padding: 5rem 3rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  background-color: var(--color-background);
  text-align: center;
}

.skills__title {
  font-size: var(--font-size-38);
  font-weight: var(--font-weight-semi-bold);
}

.skills-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.skills-icon {
  width: 3.4rem;
  animation: jump 1s infinite alternate ease-in-out;
  fill: var(--color-text);
}

.skills__rate {
  display: inline-block;
  font-size: var(--font-size-20);
  margin-top: 1rem;
}

.skills__item:hover {
  text-shadow: 0 0 3px var(--color-green);
}
